# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
.idea/
*.xcworkspace

# SwiftPM
Packages/
Package.resolved

# Swift
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# SwiftUI previews
*.icloud

# Testing snapshots
__Snapshots__/

# Other
*.log
*.env
